In [1]:
import xml.etree.ElementTree as ET

In [4]:
tree=ET.parse('data.xml')
tree

In [5]:
print(type(tree))

<class 'xml.etree.ElementTree.ElementTree'>

In [6]:
root=tree.getroot()
root

In [7]:
print(root.tag)

data

In [8]:
print(root.attrib)

{}

In [9]:
print(len(root))

3

In [11]:
country1=root[0]
country1

In [12]:
rank=country1[0]
rank

In [13]:
print(rank.tag)

rank

In [15]:
print(rank.text)

1

In [16]:
print(country1[4].attrib)

{'name': 'Switzerland', 'direction': 'W'}

In [17]:
for country in root.findall('country'):
    rank=country.find('rank').text
    name=country.get('name')
    print(name, rank)

Liechtenstein 1
Singapore 4
Panama 68

In [18]:
for neighbor in root.iter('neighbor'):
    print(neighbor.attrib)

{'name': 'Austria', 'direction': 'E'}
{'name': 'Switzerland', 'direction': 'W'}
{'name': 'Malaysia', 'direction': 'N'}
{'name': 'Costa Rica', 'direction': 'W'}
{'name': 'Colombia', 'direction': 'E'}

In [19]:
root.findall(".")

In [20]:
root.findall("./country/neighbor")

[<Element 'neighbor' at 0x7fec863b09f0>,
 <Element 'neighbor' at 0x7fec863b09a0>,
 <Element 'neighbor' at 0x7fec863b07c0>,
 <Element 'neighbor' at 0x7fec863b0270>,
 <Element 'neighbor' at 0x7fec863b0220>]

In [21]:
root.findall(".//year/..[@name='Singapore']")

In [29]:
import pandas as pd
tree=ET.parse('data.xml')
root=tree.getroot()

In [30]:

my_dict={'name':[],
         'rank':[],
         'year':[],
         'gdppc':[]}

for country in root:
    name_value = country.attrib['name']
    my_dict['name'].append(name_value)
    
    rank_value=country[0].text
    my_dict['rank'].append(name_value)
    
    year_value=country[1].text
    my_dict['year'].append(year_value)
    
    gdppc_value=country[2].text
    my_dict['gdppc'].append(gdppc_value)
    
df=pd.DataFrame(my_dict)
df

            name           rank  year   gdppc
0  Liechtenstein  Liechtenstein  2008  141100
1      Singapore      Singapore  2011   59900
2         Panama         Panama  2011   13600

In [ ]:
for country in root:
    name_value = country.attrib['name']
    my_dict['name'].append(name_value)

    rank_value = country[0].text
    my_dict['rank'].append(rank_value)

    year_value = country[1].text
    my_dict['year'].append(year_value)

    gdppc_value = country[2].text
    my_dict['gdppc'].append(gdppc_value)